* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#form-box{
    margin-left: 45px;
}

img{
    transition: all 300ms;
}

img:hover{
    cursor: pointer;
    filter: brightness(0.5);
}

@media only screen and (max-width: 600px) {
    #main-form {
        margin-left: 15px;
    }
    #title{
        margin-left: -15px;
    }
    #form-box{
        margin-left: 0;
    }
}
